<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Need a Bead • Click the beads that suit your needs</title>
</head>

<body ng-app="testApp" ng-controller="testCtrl">

  <div class="header-stuf">
<a href="#/0home"><img src="images/needabead.gif" alt="needabead" style="width:114px;height:88px;"></a>
<h1><a href="#/0home">Need a Bead</a> • Click the beads that suit your needs</h1>
</div>

    <div class = "big-container">
<div class="floating-box">
  <a href="#/1jasper" ng-click="searchEtsy('Jasper')">
  <img src="images/01_t_jasper.jpg" alt="Jasper" style="width:160px;height:90px;">Jasper</a>
  </div>
<div class="floating-box">
  <a href="#/2lava" ng-click="searchEtsy('Lava')">
  <img src="images/02_t_Lava.jpg" alt="Lava" style="width:160px;height:90px;">Lava</a>
  </div>
<div class="floating-box">
  <a href="#/3turquoise" ng-click="searchEtsy('Turquoise')">
  <img src="images/03_t_Turquoise.jpg" alt="Turquoise" style="width:160px;height:90px;">Turquoise</a>
  </div>
<div class="floating-box">
  <a href="#/4lemonquartz" ng-click="searchEtsy('Lemon'+'Quartz')">
  <img src="images/04_t_LemonQuartz.jpg" alt="Lemon Quartz" style="width:160px;height:90px;">Lemon Quartz</a>
  </div>
<div class="floating-box">
  <a href="#/5clearquartz" ng-click="searchEtsy('Clear'+'Quartz')">
  <img src="images/05_t_ClearQuartz.jpg" alt="Clear Quartz" style="width:160px;height:90px;">Clear Quartz</a>
  </div>
<div class="floating-box">
    <a href="#/6blueopal" ng-click="searchEtsy('Blue'+'Opal')">
    <img src="images/06_t_BlueOpal.jpg" alt="Blue Opal" style="width:160px;height:90px;">Blue Opal</a>
    </div>

  <ng-view></ng-view>
<hr>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</div>
<div class="foot">
<h3>©2016 Need A Bead • 1-800-NAB-BEAD • Email: <a href="mailto:nab@needabead.com">nab@needabead.com</a>
</p>
</div>


</body>
</html>
